<ul class="uk-tab" data-uk-tab="{connect:'#main-content'}">
        <li class="uk-active"><a href="vehicleLocator">车辆定位<i class="uk-icon-close"></i></a></li>
        <li><a href="vehicleTrackHistory">行车历史记录<i class="uk-icon-close"></i></a></li>
        <li><a href="vehicleTrackHistory">行车历史轨迹<i class="uk-icon-close"></i></a></li>
</ul>
<div id="main-content" class="uk-overflow-container uk-switcher">
    <div id="#vehicleLocator">
    {% include "transportion/RTLS.html" %}  
    </div>
    <div id="#vehicleTrackHistory">        
    {% include "transportion/trackHistory.html" %}
    </div>
    <div id="#vehicleTrack">        
    {% include "transportion/track.html" %}
    </div>
</div>