<nav class="uk-navbar  uk-navbar-attached">
    <a href="#side-nav" class="uk-navbar-toggle " data-uk-offcanvas></a>
    <a class="uk-navbar-brand uk-hidden-small" href="#">官方网站</a>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li>
            <a href="/"><i class="uk-icon-home"></i>首页</a>
        </li>
        <li >
            <a href="/collection"><i class="uk-icon-trash">前端收集</i></a>
        </li>
        <li class="uk-active">
            <a href="/transport"><i class="uk-icon-truck">车辆运输</i></a>
        </li>
        <li>
            <a href="/station"><i class="uk-icon-recycle">中转处理</i></a>
        </li>
        <li>
            <a href="/disposal"><i class="uk-icon-building">终端处置</i></a>
        </li>
    </ul>
    <div class=" uk-navbar-content">
        <form class="uk-form uk-margin-remove uk-display-inline-block">
            <input type="text" placeholder="Search">
            <button class="uk-button uk-button-primary uk-icon-search"></button>
        </form>
    </div>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li><a href="#"><i class="uk-icon-sign-in"></i> 退出</a></li>
        </ul>
    </div>
</nav>