<nav class="tr-navbar uk-navbar  uk-navbar-attached">
    <a href="#truck-list" class="uk-navbar-toggle" data-uk-offcanvas></a>
    <a class="uk-navbar-brand uk-hidden-small" href="#">龙澄环卫</a>
    <ul class="uk-navbar-nav uk-hidden-small ">
        <li>
            <a href="/"><i class="uk-icon-home "></i>首页</a>
        </li>
        <li>
            <a href="/collection"><i class="uk-icon-trash ">前端收集</i></a>
        </li>
        <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <a href="/transportion"><i class="uk-icon-truck ">车辆运输</i></a>
            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-small">
                <ul class="uk-nav uk-nav-navbar">
                    <li class="uk-text-small"><a href="/transportion">车辆监控</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">车辆管理</li>
                    <li class="uk-text-small"><a href="javascript:void">维修管理</a></li>
                    <li class="uk-text-small"><a href="javascript:void">事故管理</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">运营统计分析</li>
                    <li class="uk-text-small"><a href="javascript:void">行车时间统计</a></li>
                    <li class="uk-text-small"><a href="javascript:void">行驶里程统计</a></li>
                    <li class="uk-text-small"><a href="javascript:void">油耗分析</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">车载设备管理</li>
                    <li class="uk-text-small"><a href="javascript:void">GPS车载终端设置</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/station"><i class="uk-icon-recycle ">中转处理</i></a>
        </li>
        <li>
            <a href="/disposal"><i class="uk-icon-building ">终端处置</i></a>
        </li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li class="uk-text-primary"><a href="javascript:void"><i class="uk-icon-location-arrow"></i>
            <select id="selectCity">
            <option value="blank"></option>
            <option>东莞市</option>
            <option>北京市</option>
            <option>深圳市</option>
            </select>
            </a></li>
            <li><a href=""><span class="uk-icon-user"></span>Administator</a></li>
            <li><a href="javascript:void(0)"><i class="uk-icon-sign-in"></i> 退出</a></li>
        </ul>
    </div>
    <div id="truck-list" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            {% include "transportion/_vehicleList.html" %}
        </div>
    </div>
</nav>