<!DOCTYPE html> {%load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <!-- 强制360浏览器用WebKit内核 -->
    <!--<meta name="renderer" content="webkit">-->
    <title>{%block title_block%}--智慧环卫--{%endblock title_block%}</title>
    <script src="{% static "common/js/jquery.js"%}"></script>
    <link rel="shortcut icon" href="{% static "common/images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "common/css/uikit.gradient.min.css" %}">
<!--     <link rel="stylesheet" type="text/css" href="{% static "common/css/jstree.css" %}">
<script src="{% static "common/js/jstree.js" %}"></script> -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=9e38fbc918485d2d70471e29d5223070"></script>
<script src="{% static "transportion/js/map.js"%}"></script>
</head>

<body>
    <div class="uk-container  uk-container-center  uk-margin-small-bottom">
        <!-- navgation 导航栏-->
    {% include "_navigation.html" %}
    </div>
    <div class="uk-grid uk-grid-collapse " >
        <div class="uk-width-medium-1-1">
            {# 功能区 #}
            {% block functional_block %}
            {% endblock functional_block %}
            {# 地图区 #}
            {% block main_block %}
            {% endblock main_block %}
            {# 信息区 #}
            {% block info_block %}
            {% endblock info_block %}   
        </div>
    </div>
    <!-- footer -->
    {% include "_footer.html" %}
        <!-- script -->
    <script src="{% static "common/js/uikit.min.js" %}"></script>
    <script src="{% static "common/js/components/search.js" %}"></script>
    <script src="{% static "common/js/components/pagination.js" %}"></script>
    
</body>

</html>