<div class="uk-panel uk-panel-box uk-padding-vertical-remove">
    <div class="uk-button-group ">
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-small uk-button-danger"><span class="uk-icon-crosshairs">车辆定位<i class="uk-icon-caret-down"></i></button>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="javascript:void">实时定位</a></li>
                                        <li><a href="javascript:void">连续定位</a></li>
                                    </ul>
                                </div>
                            </div>
        <button class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="跟踪车辆轨迹" href="javascript:void(0)"><span class="uk-icon-magnet">行车轨迹</button>
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                <button class="uk-button uk-button-small uk-button-success"><span class="uk-icon-map-marker">位置标注<i class="uk-icon-caret-down"></i></button>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="javascript:void">添加标注</a></li>
                                        <li><a href="javascript:void">显示标注点</a></li>
                                        <li><a href="javascript:void">显示选择区域车辆</a></li>
                                    </ul>
                                </div>
                            </div>
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false" >
            <button id="featuresMap" class="uk-button uk-button-small" data-uk-tooltip title="分析车辆运行状况"><span class="uk-icon-area-chart"></span>行车分析<i class="uk-icon-caret-down"></i></button>
            <div class="uk-dropdown uk-dropdown-center uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li class="uk-nav-header">行车</li>
                    <li><a href="javascript:void">行车情况分析</a></li>
                    <li><a href="javascript:void">行车油耗分析</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">停车</li>
                    <li><a href="javascript:void">停车地点分析</a></li>
                    <li><a href="javascript:void">停车未熄火分析</a></li>
                    <li><a href="javascript:void">塞车地点时间分析</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-button-dropdown uk-margin-small-bottom uk-margin-large-left" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
            <button id="featuresMap" class="uk-button uk-button-small">个性化地图<i class="uk-icon-caret-down"></i></button>
            <div class="uk-dropdown uk-dropdown-center uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li class="uk-nav-header">设置模板</li>
                    <div id="mapStyle">
                    <li>
                        <input type='radio' onchange='refreshMapstyle(event)' checked name='mapStyle' value='normal'>normal</li>
                    <li>
                        <input type='radio' onchange='refreshMapstyle(event)' name='mapStyle' value='blue_night'>blue_night</li>
                    <li>
                        <input type='radio' onchange='refreshMapstyle(event)' name='mapStyle' value='light'>light</li>
                    <li>
                        <input type='radio' onchange='refreshMapstyle(event)' name='mapStyle' value='fresh'>fresh</li>
                    </div>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">显示内容</li>
                    <div id="mapFeatures">
                    <li>
                        <input type='checkbox' onchange='refreshFeatures()' checked name='bg'>背景</li>
                    <li>
                        <input type='checkbox' onchange='refreshFeatures()' checked name='road'>道路</li>
                    <li>
                        <input type='checkbox' onchange='refreshFeatures()' checked name='building'>建筑物</li>
                    <li>
                        <input type='checkbox' onchange='refreshFeatures()' checked name='point'>标注</li>
                    </div>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">设置地图状态</li>
                    <div id="mapStatus">
                    <li>
                        <input  type='checkbox' checked onchange='refreshmapStatus()' name='dragEnable'>允许拖拽地图</li>
                    <li>
                        <input  type='checkbox' checked onchange='refreshmapStatus()'  name='keyboardEnable'>允许键盘平移|旋转地图</li>
                    <li>
                        <input  type='checkbox' checked onchange='refreshmapStatus()'  name='doubleClickZoom'>允许双击放大地图</li>
                    <li>
                        <input  type='checkbox' checked onchange='refreshmapStatus()'  name='isHotspot'>允许叠加地图热点</li>
                        </div>
                </ul>
            </div>
        </div>
        <button class="uk-button uk-button-small uk-button-primary" data-uk-tooltip="{pos:'bottom-left'}" title="搜索车辆并在地图上显示位置" href="javascript:void(0)"><span class="uk-icon-search uk-icon-small"></span></button>
        <button id="marker" class="uk-button uk-button-small uk-button-success" data-uk-tooltip="{pos:'bottom-left'}" title="在地图上标注位置" href="javascript:void(0)"><span class="uk-icon-map-marker uk-icon-small"></span></button>
        <button class="uk-button uk-button-small uk-button-danger" data-uk-tooltip="{pos:'bottom-left'}" title="显示标注点" href="javascript:void(0)"><span class="uk-icon-eye uk-icon-small "></span></button>
        <button class="uk-button uk-button-small uk-button-primary" data-uk-tooltip="{pos:'bottom-left'}" title="距离测量" onclick="javascript:startRuler()"><span class="uk-icon-compress uk-icon-small"></span></button>
        <button class="uk-button uk-button-small uk-button-success" data-uk-tooltip="{pos:'bottom-left'}" title="地图位置搜索" href="javascript:void(0)"><span class="uk-icon-compass uk-icon-small"></span></button>
        <button class="uk-button uk-button-small uk-button-success" data-uk-tooltip="{pos:'bottom-left'}" title="旋转地图" href="javascript:void(0)" onclick="javascript:rotateMap()"><span class="uk-icon-rotate-right uk-icon-small"></span></button>
    </div>
</div>