<div class="uk-panel uk-panel-box uk-padding-vertical-remove">
    <div class="uk-button-group ">
        <button class="uk-button uk-button-small uk-button-danger " data-uk-tooltip title="实时定位车辆位置" href="javascript:void(0)" >车辆定位</button>
        <button class="uk-button uk-button-small uk-button-primary" data-uk-tooltip title="跟踪车辆轨迹" href="javascript:void(0)">行车轨迹</button>
        <button class="uk-button uk-button-small uk-button-success" data-uk-tooltip title="分析车辆运行状况" href="javascript:void(0)">行车分析</button>
        <button class="uk-button uk-button-small " data-uk-tooltip title="标注位置" href="javascript:void(0)">位置标注</button>
    </div>
</div>