<div id="functionMenu" class="uk-panel uk-panel-box uk-padding-vertical-remove uk-margin-bottom-remove">
    <div class="uk-button-group ">
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false" >
            <button class="uk-button uk-button-small uk-button-danger"><span class="uk-icon-crosshairs">车辆定位<i class="uk-icon-caret-down"></i></button>
            <div class="uk-dropdown  uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="javascript:void" rel="realTimeLocator" target="tabs" title="车辆实时定位">实时定位</a></li>
                    <li><a href="javascript:void" rel="allTimeLocator" target="tabs1" title="车辆连续定位">连续定位</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-small uk-button-primary"><span class="uk-icon-magnet">行车轨迹<i class="uk-icon-caret-down"></i></button>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="javascript:void" title="历史轨迹">历史轨迹</a></li>
                                        <li><a href="javascript:void">历史记录</a></li>
                                        <li><a id="test" rel="his123" href="#" title="历史记录123">历史记录123</a></li>
                                    </ul>
                                </div>
        </div>
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-small uk-button-success"><span class="uk-icon-map-marker">位置标注<i class="uk-icon-caret-down"></i></button>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li><a href="javascript:void">添加标注</a></li>
                                        <li><a href="javascript:void">显示标注点</a></li>
                                        <li><a href="javascript:void">显示选择区域车辆</a></li>
                                    </ul>
                                </div>
                            </div>
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false" >
            <button id="featuresMap" class="uk-button uk-button-small" data-uk-tooltip title="分析车辆运行状况"><span class="uk-icon-area-chart"></span>行车分析<i class="uk-icon-caret-down"></i></button>
            <div class="uk-dropdown uk-dropdown-center uk-dropdown-small">
                <ul class="uk-nav uk-nav-dropdown">
                    <li class="uk-nav-header">行车</li>
                    <li><a href="javascript:void">行车情况分析</a></li>
                    <li><a href="javascript:void">行车油耗分析</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">停车</li>
                    <li><a href="javascript:void">停车地点分析</a></li>
                    <li><a href="javascript:void">停车未熄火分析</a></li>
                    <li><a href="javascript:void">塞车地点时间分析</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-button-dropdown uk-margin-small-bottom" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
            <button class="uk-button uk-button-small uk-button-success"><span class="uk-icon-map-marker">商务服务<i class="uk-icon-caret-down"></i></button>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a href="javascript:void">位置搜索</a></li>
                        <li><a href="javascript:void">车辆导航</a></li>
                        <li><a href="javascript:void">天气地图</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>