<div id="#info">
    <div class="uk-text-bold uk-text-center">
        <i class="uk-text-danger">在线车辆:20 </i>
        <i class="uk-text-success">运行车辆：2 </i>
        <i class="uk-text-muted">静止车辆：2 </i>
        <i>总车辆：40</i>
    </div>
    <ul class="uk-tab" data-uk-tab="{connect:'#tabInfo-content'}">
        <li class="uk-active"><a href="MonitorInfoTab">监控信息</a></li>
        <li><a href="AlarmInfoTab">报警信息</a></li>
    </ul>
</div>
<div id="tabInfo-content" class="uk-overflow-container uk-switcher">
    <div id="#MonitorInfoTab">
        <table class="uk-table uk-table-striped uk-table-condensed">
            {#<caption>table title and/or explanatory text</caption> #}
            <thead>
                <tr>
                    <th class="uk-text-center">设备编号</th>
                    <th class="uk-text-center">车牌号</th>
                    <th class="uk-text-center">SIM卡号</th>
                    <th class="uk-text-center">所属区域</th>
                    <th class="uk-text-center">在线</th>
                    <th class="uk-text-center">报警</th>
                    <th class="uk-text-center">时间</th>
                    <th class="uk-text-center">状态</th>
                    <th class="uk-text-center">所属区域</th>
                    <th class="uk-text-center">在线</th>
                    <th class="uk-text-center">所属区域</th>
                    <th class="uk-text-center">在线</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0001</td>
                    <td>粤B3UB55</td>
                    <td>87472B3UB55</td>
                    <td>深圳宝安区</td>
                    <td>是</td>
                    <td>否</td>
                    <td>2015-10-9 18:42:23</td>
                    <td>正常</td>
                </tr>
                <tr>
                    <td>0002</td>
                    <td>粤B3UB55</td>
                    <td>87472B3UB55</td>
                    <td>深圳宝安区</td>
                    <td>是</td>
                    <td>否</td>
                    <td>2015-10-6 18:42:23</td>
                    <td>正常</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="#AlarmInfoTab">
        <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
                <tr>
                    <th>设备编号</th>
                    <th>车牌号</th>
                    <th>SIM卡号</th>
                    <th>所属区域</th>
                    <th>在线</th>
                    <th>报警</th>
                    <th>时间</th>
                    <th>报警信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0001</td>
                    <td>粤B3UB55</td>
                    <td>87472B3UB55</td>
                    <td>深圳宝安区</td>
                    <td>是</td>
                    <td>否</td>
                    <td>2015-10-9 18:42:23</td>
                    <td>电源掉电</td>
                </tr>
                <tr>
                    <td>0002</td>
                    <td>粤B3UB55</td>
                    <td>87472B3UB55</td>
                    <td>深圳宝安区</td>
                    <td>是</td>
                    <td>否</td>
                    <td>2015-10-8 18:42:23</td>
                    <td>油箱漏油</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>