<div id="mapContainer" style="height:600px"></div>
<script>
var map = new AMap.Map('mapContainer', {
    // 设置中心点
    //center: [116.397428, 39.90923],
    center: [114.06667, 22.61667],
    // 设置缩放级别
    zoom: 12
});
// 地图类型切换
map.plugin(["AMap.MapType"], function() {
    var type = new AMap.MapType({
        defaultType: 0
    });
    map.addControl(type);
});
//设置城市
    AMap.event.addDomListener(document.getElementById('selectCity'),'click', function () {
      var cityName = document.getElementById('selectCity').value;
      if (!cityName) {
        cityName = '深圳市';
      }
      map.setZoom(12);
      map.setCity(cityName);
    });
 //在地图中添加ToolBar插件
    map.plugin(["AMap.ToolBar"], function () {
      toolBar = new AMap.ToolBar();
      map.addControl(toolBar);
    });
 // 加载比例尺插件
    map.plugin(["AMap.Scale"], function () {
      scale = new AMap.Scale();
      map.addControl(scale);
    });
 // 加载鹰眼插件
    map.plugin(["AMap.OverView"], function () {
      overView = new AMap.OverView({
        visible: false
      });
      map.addControl(overView);
    });
    overView.show();
</script>