<div class=" uk-scrollable-box uk-width-small-1-6 uk-width-medium-1-5  uk-height-viewport" >
    <ul class="uk-list">
        <li><label><input type="checkbox">大浪基地</label>
        	<ul>
        		<li><label><input type="checkbox">粤B3UB55</label></li>
        		<li><label><input type="checkbox">粤B5UB18</label></li>
        		<li><label><input type="checkbox">粤B7QQ87</label></li>
        		<li><label><input type="checkbox">粤B93275</label></li>
        		<li><label><input type="checkbox">粤BU0462</label></li>
        		<li><label><input type="checkbox">粤BU7887</label></li>
        		<li><label><input type="checkbox">粤BU7966</label></li>
        		<li><label><input type="checkbox">粤BU8110</label></li>
        	</ul>
        </li>
        <li><label><input type="checkbox">深圳总部</label>
        	<ul>
        		<li><label><input type="checkbox">粤B166PP</label></li>
        	</ul>
        </li>
        <li><label><input type="checkbox">四会基地</label>
        	<ul>
        		<li><label><input type="checkbox">豫BLC188</label></li>
        		<li><label><input type="checkbox">粤BH8947</label></li>
        		<li><label><input type="checkbox">粤BJ4895</label></li>
        		<li><label><input type="checkbox">粤BJ939ZE</label></li>
        		<li><label><input type="checkbox">粤BL2011</label></li>
        		<li><label><input type="checkbox">粤BX1490</label></li>
        		<li><label><input type="checkbox">粤HK2442</label></li>
        		<li><label><input type="checkbox">粤HK3537</label></li>
        		<li><label><input type="checkbox">粤HK3635</label></li>
        		<li><label><input type="checkbox">粤HK3765</label></li>
        		<li><label><input type="checkbox">粤HK3803</label></li>
        		<li><label><input type="checkbox">粤HK3816</label></li>
        	</ul>
        </li>
    </ul>
</div>