{# uk-height-viewport #}
<div class="uk-panel uk-panel-header  uk-panel-box uk-panel-box-secondary uk-panel-box-secondary-hover uk-clearfix " style="height:845px ">
    <h3 class="uk-panel-title"><span class="uk-icon-list"></span> 车辆列表</h3>
    <form id="searchVehicleForm" class="uk-form uk-form-width-large" data-uk-search>
        <input id="searchVehicle" class="uk-search-field " placeholder="查找车辆..." autocomplete="off">
        <button class="uk-button uk-button-small uk-button-primary uk-icon-search"></button>
    </form>
    <div id="vehicleListStyle" class="uk-form-select" data-uk-form-select>
        <span>选择车辆排列方式：</span>
        <select>
            <option value="">按所属区域</option>
            <option value="">按所属单位</option>
        </select>
    </div>
    <div class=" uk-display-block uk-responsive-width ">
        <div id="MenuTree">
        </div>
    </div>
</div>
<script>
$(function() {
    $("#MenuTree")
        .jstree({
            "types": {
                "default": {
                    "icon": "uk-icon-truck"
                },
                "enterprise": {
                    "icon": "uk-icon-sitemap"
                },
                "areatruck": {
                    "icon": "uk-icon-institution"
                }
            },
            "core": {
                "check_callback": true,
                "multiple": true,
                "animation": 0,
                "themes": {
                    // "variant" : "large"
                },
                "data": {
                    'url': '{% url 'ajax_tree' %}',
                    'dataType': 'json',
                    'data': function(node) {
                        return {
                            'id': node.id
                        };
                    }
                }
            },

            "conditionalselect": function(node, event) {
                return false;
            },
            "checkbox": {
                "keep_selected_style": false
            },
            "state": {
                "key": "demostate"
            },
            "plugins": ["checkbox", "changed",
                "conditionalselect",
                "sort", "types", "state", "unique", "search", "wholerow"
            ]
        });
        

});
$("#searchVehicleForm").click(function(e) {
    e.preventDefault();
    $("#MenuTree").jstree(true).search($("#searchVehicle").val());
});
$('#vehicleListStyle').on("click", function() {
    var instance = $('#MenuTree').jstree(true);
    //instance.checkbox
});
$('#MenuTree').on("changed.jstree", function (e, data) {
            console.log("The selected nodes are:");
            console.log(data.selected);
        });
</script>