{# uk-height-viewport #}
<div class="uk-panel uk-panel-box uk-panel-box-hover ">
    <h3 class="uk-panel-title"><span class="uk-icon-list"></span> 车辆列表</h3>
    <form class="uk-form uk-search" data-uk-search="">
        <input class="uk-search-field uk-form-width-medium" type="search" placeholder="查找车辆..." autocomplete="off">
        <button class="uk-button uk-button-small uk-button-primary uk-icon-search"></button>
        <div class="uk-dropdown uk-dropdown-search" aria-expanded="false"></div>
    </form>
    <div class="uk-form-select" data-uk-form-select>
        <span>选择车辆排列方式：</span>
        <select>
            <option value="">按所属区域</option>
            <option value="">按所属单位</option>
        </select>
    </div>
    <div class=" uk-scrollable-box " style="height:783px">
        <ul class="uk-list">
            <li>
                <label>
                    <input type="checkbox"><i class="uk-icon-sitemap"></i>深圳龙澄高科</label>
                <ul>
                    <li>
                        <label>
                            <input type="checkbox"><i class="uk-icon-institution"></i>大浪基地</label>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤B3UB55</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤B5UB18</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤B7QQ87</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤B93275</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BU0462</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BU7887</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BU7966</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BU8110</label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"><i class="uk-icon-institution"></i>深圳总部</label>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤B166PP</label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"><i class="uk-icon-institution"></i>四会基地</label>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>豫BLC188</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BH8947</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BJ4895</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BJ939ZE</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BL2011</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BX1490</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK2442</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3537</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3635</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3765</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3803</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3816</label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"><i class="uk-icon-institution"></i>四会基地</label>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>豫BLC188</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BH8947</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BJ4895</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BJ939ZE</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BL2011</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BX1490</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK2442</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3537</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3635</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3765</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3803</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3816</label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox"><i class="uk-icon-institution"></i>四会基地</label>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>豫BLC188</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BH8947</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BJ4895</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BJ939ZE</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BL2011</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤BX1490</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK2442</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3537</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3635</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3765</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3803</label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"><i class="uk-icon-truck"></i>粤HK3816</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>