<div class="uk-panel uk-panel-box">
</div>
<div class="uk-overflow-container">
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
            {#<caption>table title and/or explanatory text</caption> #}
            <thead>
                <tr class="uk-text-center" >
                    <th >序号</th>
                    <th >时间</th>
                    <th >经度</th>
                    <th >纬度</th>
                    <th >发动机状态</th>
                    <th >速度</th>
                    <th >方向</th>
                    <th >里程</th>
                    <th >报警</th>
                    <th >事件</th>
                    <th >备注</th>
                    <th >当前司机</th>
                    <th >SIM卡号</th>
                    <th >车辆位置</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2015/11/17 0:04:36</td>
                    <td>113.862390</td>
                    <td>23.067520</td>
                    <td>关</td>
                    <td>0</td>
                    <td>北</td>
                    <td>962.665</td>
                    <td>正常</td>
                    <td>定时报告</td>
                    <td>车辆停车</td>
                    <td>张三</td>
                    <td>13845685688</td>
                    <td>广东省东莞市东莞市;246县道-卫生路交叉路口;茶山南路,茶山桃李春小学附近</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2015/11/17 0:14:36</td>
                    <td>113.862390</td>
                    <td>23.067520</td>
                    <td>关</td>
                    <td>0</td>
                    <td>北</td>
                    <td>962.665</td>
                    <td>正常</td>
                    <td>定时报告</td>
                    <td>车辆停车</td>
                    <td>张三</td>
                    <td>13845685688</td>
                    <td>广东省东莞市东莞市;246县道-卫生路交叉路口;茶山南路,茶山桃李春小学附近</td>
                </tr>
            </tbody>
        </table>
</div>